/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea

ignore/
/ignore/
/ignore/*
/ignore/*.*
/ignore/*/

nbproject/
/nbproject/
/nbproject/*
/nbproject/*.*
/nbproject/*/

vendor/
/vendor/
/vendor/*
/vendor/*.*
/vendor/*/

/demo/example.php
composer.lock
phpunit.xml
*.phar
file-only-present-on-dev-pc-at-home.txt
index.php